
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="margin-bottom:60px;">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">ADDRESS</label>
            <input type="text" class="form-control" name="a" placeholder="enter the address" >

        </div>
         <div class="mb-3">
            <label class="form-label">PHONE NUMBER</label>
             <input type="text" name="p" class="form-control" placeholder="enter the phone number">

        </div>
         <div class="mb-3">
            <label class="form-label">ACCOUNT NUMBER</label>
             <input type="text" name="n" class="form-control" placeholder="enter the account number">

        </div>
     <div class="mb-3">
     <input type="submit" class="form-control">
        </div>

</form></div>
<div>
    {{o}}
</div>

{% endblock %}

